
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anasayfa</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body {
            background-color: darkgray;
        }

        .button {
            text-decoration: none;
            font-size: 20px;
            margin-left: 300px;
            display: inline-block;
        }

        .bir {
            background-color: orange;
            color: black;
            padding: 50px 100px;
            margin-top: 150px;
            border-radius: 10px;
            width: 300px;
            -webkit-box-shadow: 0 0 6px 4px black;
        }

        .iki {
            color: black;
            background-color: orange;
            padding: 50px 100px;
            border-radius: 10px;
            width: 300px;
            -webkit-box-shadow: 0 0 6px 4px black;
        }
    </style>
</head>
<body>


    <div>
        <a href="https://localhost:44320/Ana/SQLSearch" class="button bir">SQL ARAMASI</a>
        <a href="https://localhost:44320/Ana/WindowsSearch" class="button iki">WINDOWS ARAMASI</a>
    </div>
</body>
</html>
